@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <MudThemeProvider Theme="_theme" />
    <MudDialogProvider />
    <MudSnackbarProvider />
    <MudPopoverProvider />

    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <RedirectToLogin />
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Nie znaleziono strony</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Przepraszamy, ale ta strona nie istnieje.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {
    private readonly MudTheme _theme = new()
    {
        PaletteLight = new PaletteLight
        {
            Primary = "#8C0000",
            Error = "#c90000"
        },
        PaletteDark = new PaletteDark
        {
            Primary = "#8C0000",
            Error = "#c90000"
        }
    };
}