
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, #ffffff 50%, #f58a8a 50%);
    background-attachment: fixed;
    background-size: cover;
}

.logo {
    width: 320px;
    margin-bottom: 4.5rem;
}

.input-group {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
    position: relative;
}

.input-text-label {
    top: 20px;
    align-self: flex-start;
    font-family: Roboto;
    font-style: italic;
}

.error-message {
    color: red;
    position: absolute;
    margin-top: -10px;
    left: 50%;
    transform: translate(-50%);
    white-space: nowrap;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 600;
}

.truck-image {
    width: 280px;
    margin-top: 2rem;
    animation: move-truck 1s linear infinite alternate;
}

.btn-section {
    margin-top: 60px;
}
