

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden; /* Usuwa przewijanie */
}
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100vh;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg, #ffffff 50%, #f58a8a 50%);
    background-attachment: fixed;
}

.logo {
    width: 350px;
    margin-bottom: 4.5rem;
}

.input-group {
    display: flex;
    align-items: center;
    width: 100%;
}

.input-text-label {
    align-self: flex-start;
}

.login-button {
    width: 100%;
    max-width: 350px;
    padding: 0.75rem;
    background-color: #a11717;
    border: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 1rem;
}

    .login-button:hover {
        background-color: #8f1515;
    }

.error-message {
    margin-top: 1rem;
    color: #d9534f;
    font-weight: bold;
}

.truck-image {
    width: 300px;
    margin-top: 2rem;
    animation: move-truck 1s linear infinite alternate;
}

