.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, #ffffff 50%, #f58a8a 50%);
    padding: 0;
}

.logo {
    width: 250px;
    margin-bottom: 1.5rem;
}


.login-button {
    width: 100%;
    max-width: 350px;
    padding: 0.75rem;
    background-color: #a11717;
    border: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 1rem;
}

    .login-button:hover {
        background-color: #8f1515;
    }

.error-message {
    margin-top: 1rem;
    color: #d9534f;
    font-weight: bold;
}

.truck-image {
    width: 300px;
    margin-top: 2rem;
    animation: move-truck 1s linear infinite alternate;
}

