
.detail-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}

    .detail-item label {
        font-weight: bold;
        color: #640000;
    }

    .detail-item span, .detail-item a {
        color: #444;
        text-align: right;
    }

    .detail-item a {
        color: #007bff;
        text-decoration: none;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
    }

@media (max-width: 940px) {
    .detail-item a {
        max-width: 200px;
    }
}

    @media (max-width: 380px) {
        .detail-item a {
            max-width: 130px;
        }
    }


.detail-item a:hover {
    text-decoration: underline;
}

.cmr-upload-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}