
.detail-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}

    .detail-item label {
        font-weight: bold;
        color: #640000;
    }

    .detail-item span, .detail-item a {
        color: #444;
        text-align: right;
    }

.detail-item a:hover {
    text-decoration: underline;
}

.cmr-upload-section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}