.orders-container {
    padding: 0.5rem;
}

.controls {
    display: flex;
    gap: 10px;
}


.load-more-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.selected-row {
    background-color: #ffaeae !important;
    transition: background-color 0.1s ease-in-out;
}

.orders-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    justify-self: center;
}
    .orders-table th, .orders-table td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    .orders-table th {
        background-color: #8C0000;
        color: white;
        font-weight: bold;
        text-align: center;
    }
    .orders-table td {
        text-align: center;
    }
    .orders-table tr:nth-child(even) {
        background-color: #f9f9f9;
    }

@media (max-width: 768px) {
    .orders-table {
        font-size: 0.8em; /* Zmniejsz czcionkę na mniejszych ekranach */
    }

        .orders-table th, .orders-table td {
            padding: 8px; /* Zmniejsz wypełnienie komórek */
        }

    .order-actions {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

        .order-actions button {
            flex-basis: 40%; /* Ustawia szerokość przycisku na 45% */
        }
}

.loading-indicator {
    text-align: center;
    margin: 2rem 0;
}

.empty-view {
    text-align: center;
    margin-top: 2rem;
}

    .empty-view img {
        width: 160px;
        height: 160px;
    }

.month-header {
    background-color: white;
    font-weight: bold;
    color: black;
    text-align: center;
    font-size: 14px;
}