.orders-container {
    padding: 0.5rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

    .header h2 {
        font-size: 24px;
        color: #8C0000;
        margin: 0;
        font-family: Roboto;
        font-weight: 600;
    }
.controls {
    display: flex;
    gap: 10px;
}

.refresh-button img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.refresh-button {
    border: none;
    background-color: white;
}

.load-more-container {
    display: flex;
    justify-content: center;
}

.load-more-button {
    background: linear-gradient(90deg, #8C0000, #BC0000);
    color: white;
    padding: 12px 40px;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 500;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s ease-in-out;
    margin-top: 30px;
}

.selected-row {
    background-color: #ffaeae !important; /* Jasny beżowy dla wyróżnienia */
    transition: background-color 0.1s ease-in-out;
}

.orders-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}
    .orders-table th, .orders-table td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    .orders-table th {
        background-color: #8C0000;
        color: white;
        font-weight: bold;
        text-align: center;
    }
    .orders-table td {
        text-align: center;
    }
    .orders-table tr:nth-child(even) {
        background-color: #f9f9f9;
    }

.order-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0px;
}


.edit-button {
    background-color: #007BFF;
    color: white;
    border: none;
    width: 90px;
    border-radius: 8px;
    margin-bottom: 6px;
}

.invoice-button {
    background-color: #28A745;
    color: white;
    border: none;
    width: 90px;
    border-radius: 8px;
    margin-bottom: 6px;
}

.delete-button {
    background-color: #DC3545;
    color: white;
    border: none;
    width: 90px;
    border-radius: 8px;
    margin-bottom: 6px;
}

.button-image {
    width: 16px;
    height: 16px;
    margin-right: 6px;
    margin-bottom: 2px;
}


    .order-actions button:hover {
        background-color: #a10000;
    }

.loading-indicator {
    text-align: center;
    margin: 2rem 0;
}

.empty-view {
    text-align: center;
    margin-top: 2rem;
}

    .empty-view img {
        width: 160px;
        height: 160px;
    }
