@import url('fonts.css');

:root {
    --primary-color: #8C0000;
    --danger-color: red;
    --gradient-color: linear-gradient(90deg, #8C0000, #BC0000);
}

html, body {
    font-family: 'Roboto', sans-serif;
}

.header {
    font-size: 24px;
    color: var(--primary-color);
    margin: 0;
    font-weight: 600;
}

.text-large {
    font-size: 18px;
    color: #333;
}

.text-small {
    margin: 4px 0;
    font-size: 14px;
    color: #555;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    background: var(--gradient-color);
    color: white;
    padding: 12px 40px;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 500;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s ease-in-out;
}

.btn-small {
    padding: 8px 6px;
    border-radius: 10px;
    font-size: 14px;
}

.btn-secondary {
    color: white;
    border: none;
    width: 100px;
    border-radius: 8px;
    padding: 6px 12px;
    font-size: 12px;
    cursor: pointer;
    font-weight: 400;
    background: #BC0000;
}

.btn-img {
    width: 14px;
    height: 14px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 2px;
}

.icon-img {
    width: 24px;
    height: 24px;
    margin-right: 6px;
    margin-bottom: 2px;
}

.btn-delete {
    background: var(--danger-color) !important;
}

.btn-section {
    text-align: center;
    margin-top: 30px;
}

.btn-container-flex {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card-container {
    background: white;
    padding: 15px;
    margin: 22px;
    border-radius: 20px;
    margin-bottom: 50px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.container-flex {
    display: flex;
    flex-direction: column;
    margin: 6px;
}

.refresh-button img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.refresh-button {
    border: none;
    background-color: white;
}

.status-text {
    font-weight: 500;
}

.status-paid {
    color: green;
    font-weight: bold;
}

.status-unpaid {
    color: var(--danger-color);
    font-weight: bold;
}

.status-nocmr {
    color: blue;
    font-weight: bold;
}

.order-actions {
    align-self: center;
    display: flex;
    justify-content: center;
    padding: 4px;
    width: 100%;
    gap: 10px;
}

.download-btn {
    color: #007bff;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    background: none;
    border: none;
}

@media (max-width: 940px) {
    .download-btn {
        max-width: 200px;
    }
}

@media (max-width: 380px) {
    .download-btn {
        max-width: 130px;
    }
}



/* Input field */
.form-group {
    margin-bottom: 16px;
}

.input-label {
    position: absolute;
    margin-left: 10px;
    margin-top: -13px;
    font-size: 14px;
    color: #8C0000;
    background-color: white;
    padding: 2px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 2px solid #8C0000;
    border-radius: 5px;
}

.container-flex-column {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin: auto;
}

.container-flex-no-gap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid var(--danger-color);
}

.validation-message {
    color: var(--danger-color);
    position: absolute;
    margin-top: 65px;
    white-space: nowrap;
    font-size: 12px;
    font-family: Roboto;
    font-weight: 600;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }

.loading-spinner img {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
}

code {
    color: #c02d76;
}

/*Input*/
.input-group {
    display: flex;
    gap: 10px;
    position: relative;
    padding: 7px 0 0;
    width: 80%;
    margin-bottom: 10px;
    margin-top: 2px;
}

.input-text {
    width: 100%;
    border: none;
    border-bottom: 2px solid #7f7f7f;
    border-radius: 0 !important;
    outline: 0;
    font-size: 17px;
    color: #7f7f7f;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

    .input-text::placeholder {
        color: transparent;
        
    }

    .input-text:placeholder-shown ~ .input-text-label {
        font-size: 17px;
        cursor: text;

    }

.input-text-label {
    position: absolute;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #7f7f7f;
    pointer-events: none;
}

.input-text:focus {
    padding-bottom: 6px;
    border-width: 3px;
    border-image: linear-gradient(to right, #dd0033, #9f1026);
    border-image-slice: 1;
}

    .input-text:focus ~ .input-text-label {
        color: #dd0033;
    }

    .input-text:not(:placeholder-shown) ~ .input-text-label,
    .input-text:focus ~ .input-text-label {
        position: absolute;
        display: block;
        transition: 0.2s;
        font-size: 15px;
        font-weight: 700;
        top: -17px;
    }

.input-text:required,
.input-text:invalid {
    box-shadow: none;
}
/*Input*/


/*£adowanie*/
.spinner-border {
    margin: 10px auto;
    display: block;
}
/*£adowanie*/


.loading,
.empty-state {
    text-align: center;
    color: #666;
    margin: 20px 0;
}


.custom-error {
    color: var(--danger-color);
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-bottom--15 {
    margin-bottom: -15px;
}

.flex {
    display: flex;
}

.width-100 {
    width: 100%;
}

.gap-20 {
    gap: 20px;
}