@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject ILocalStorageService LocalStorage
@using Blazored.Toast.Configuration

<CascadingBlazoredModal>
    <div class="page">
        @if (!IsLoginPage)
        {
            <div class="sidebar">
                <NavMenu />
            </div>
        }

        <main>
            <BlazoredToasts Position="ToastPosition.TopRight" Timeout="5" />
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</CascadingBlazoredModal>

@code {
    private bool IsLoginPage => Navigation.Uri.Contains("/logowanie", StringComparison.OrdinalIgnoreCase);

    protected override void OnInitialized()
    {
        Navigation.LocationChanged += OnLocationChanged;
    }

    private async void OnLocationChanged(object sender, Microsoft.AspNetCore.Components.Routing.LocationChangedEventArgs e)
    {
        var currentUrl = await LocalStorage.GetItemAsync<string>("currentPage");
        if (!string.IsNullOrEmpty(currentUrl))
        {
            await LocalStorage.SetItemAsync("previousPage", currentUrl);
        }
        await LocalStorage.SetItemAsync("currentPage", e.Location);
    }

    public async Task NavigateBack()
    {
        var previousUrl = await LocalStorage.GetItemAsync<string>("previousPage");
        Navigation.NavigateTo(previousUrl ?? "/");
    }

    public void Dispose()
    {
        Navigation.LocationChanged -= OnLocationChanged;
    }
}
